@font-face {
    font-family: dosis;
    src: url(dosis.ttf);
}

body{
    background-color: #121212;
}
#title{
    text-align: center;
    font-size: 3em;
}
.base{
    font-family: dosis;
    color: #BB86FC;
    text-align: center;
    padding: 0px;
    margin: 0px;
}
#quote{
    font-size: 3em;
    width: 80%;  /* Control width to make sure wrapping occurs */
    overflow-wrap: break-word; /* Force long words to break and wrap */
    word-wrap: break-word;    /* Also allows wrapping */
}
#main {
    display: flex;
    flex-direction: column; /* this stacks children vertically */
    align-items: center;    /* optional: center items horizontally */
    gap: 10px;              /* optional: spacing between items */

}
#start{
    background-color: #121212;
    border-style: solid;
    border-color: #BB86FC;
    border-radius: 10px;
    border-width: 5px;
    font-size: 2em;
    font-weight: bold;
    width: 3em;
}
#testing {
    display: flex;
    flex-direction: column; 
    justify-content: center;   
    align-items: center;    
    height: 100vh;        
}
.word{
    background-color: #121212;
    border-color: #BB86FC;
    border-radius: 5px;
    border-width: 5px;
    font-family: dosis;
    font-size: 1em;
    color: #BB86FC;
    font-weight: bold;
    border-style: solid;
}
#hidden-text {
    visibility: hidden;
    white-space: nowrap;
    position: absolute;
    font-weight: bold;
    font-size: 3em;
}
input:focus {
    outline: none;
}
.settings{
    border-radius: 10px;
    border: #BB86FC;
    border-width: 10px;
    border: solid;
    background-color: #121212;
    text-align: center;
    width: 2em;
    font-size: 1.5em;
    font-style: bold;
    font-family: dosis;
    color:#BB86FC;
    background-color: #121212;
}